<nav class="teal darken-1">
	<div class="nav-wrapper">
		<a href="/" class="brand-logo">Магазин курсов</a>
		<ul id="nav-mobile" class="right">
			<li><a href="/">Главная</a></li>
			<li><a href="/courses">Курсы</a><li>
			<li><a href="/add">Добавить курс</a></li>
			<li><a href="/cart">Корзина</a></li>
		</ul>
	</div>
</nav>