<div class="row">
	<div class="col s3"></div>
	<form action="/course" class="col s6" method="post" Content-Type='application/json'>
		<h1>Добавить новый курс</h1>
		<div class="row">
			<div class="input-field">
				<input id="name" name="name" type="text" class="validate">
				<label for="name">Название курса</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field">
				<input id="price" name="price" type="number" class="validate">
				<label for="price">Цена курса</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field">
				<input id="url" name="url" type="text" class="validate">
				<label for="url">URL картинки</label>
			</div>
		</div>
		<div class="row">
			<button class="btn">Добавить курс</button>
		</div>
	</form>
	<div class="col s3"></div>
</div>