<div class="container">
	<h1>Корзина</h1>
	{{#if rendering}}
	<table>
		<thead>
			<tr>
				<th>Название</th>
				<th>Количество</th>
				<th>Действия</th>
			</tr>
			{{#each list}}
			<tr>
				<td>{{this.name}}</td>
				<td>{{this.number}}</td>
				<td>
					<a href="/delete/{{this.id}}" class="btn">Удалить</a>
				</td>
			</tr>
			{{/each}}
		</thead>
	</table>
	{{else}}
	<p>Корзина пуста</p>
	{{/if}}
</div>