<div class="container">
	{{#if rendering}}
		<h1 class="">Курсы</h1>
		{{#each courses}}
		<div class="row">
			<div class="card col s8">
				<div class="col">
					<div class="card-image">
						<img src="{{this.url}}" alt="{{this.name}}">
					</div>
					<div class="card-content">
						<h4>{{this.name}}</h4>
						<h2>{{this.price}}</h2>
					</div>
					<div class="card-action">
						<a href="/courses/{{this._id}}">Открыть курс</a>
						<a href="/courses/{{this._id}}/edit">Редактировать</a>
						<a href="/{{this.name}}" class="btn">Купить</a>
					</div>
				</div>
			</div>
		</div>
		{{/each}}
	{{else}}
	<div class="container">
		<h1>Курсов нет</h1>
	</div>
	{{/if}}
</div>