<div class="row container">
	<div class="container">
		<div class="col s3"></div>
		<div class="col s6">
			<h1>{{course.name}}</h1>
			<img src="{{course.url}}" alt="{{course.name}}">
			<h1>{{course.price}}</h1>
		</div>
		<div class="col s3"></div>
	</div>
</div>