<div class="row">
	<div class="col s3"></div>
	<form action="/courses/{{course._id}}/edit?allow=true" class="col s6" method="post">
		<h1>Редактировать курс</h1>
		<div class="row">
			<div class="input-field">
				<input id="name" name="name" type="text" class="validate" value={{course.name}}>
				<label for="name">Название курса</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field">
				<input id="price" name="price" type="number" class="validate" value={{course.price}}>
				<label for="price">Цена курса</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field">
				<input id="url" name="url" type="text" class="validate" value={{course.url}}>
				<label for="url">URL картинки</label>
			</div>
		</div>
		<div class="row">
			<button class="btn">Редактировать курс</button>
		</div>
		<div class="row">
			<a href="/delete/{{course._id}}" class="btn red darken-2">Удалить курс</a>
		</div>
	</form>
	<div class="col s3"></div>
</div>